<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima Controll</title>
    <link rel="stylesheet" href="/assets/components/navbar/navbar.css">
</head>
<body>

    <nav class="navbar">
        <a href="#" class="logo">
            <img class="logo-img" src="/assets/img/nav-logo 1.png" alt="Logo Clima Controll">
            <span class="logo-text">Clima Controll</span>
        </a>
        <a class="clima-local">
            <span id="cidade">Uruaçu</span>
            <span id="estado">GO</span>
            <span id="temperatura">--</span>
            <span id="status-img">icon</span>
        </a>
    </nav>
    <script src="./navbar.js"></script>
</body>
</html>
